{% extends 'base.html.twig' %}



{% block body %}

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
    {% for ssRub in sousRubrique %}
        <li class="nav-item"><a href="{{ path('app_produit_index', {'id':ssRub.id}) }}">
            {{ ssRub.nom }}
        </a></li>
    {% endfor %}
      </ul>
    </div>
</nav>
{% endblock %}


{% block rubrique %}
    <div class="mainrubrique">
        <div class="maintitle">
            <h2>Nos Catégories</h2>
        </div>
        <div class="cardcomplete">
    {% for ssRub in sousRubrique %}
        <div class="cardrubrique">
            <a href="{{ path('app_produit_index', {'id':ssRub.id}) }}">
                <div class="cardcontent">
                            <img src="/upload/img/rubrique/{{ssRub.photo}}">
                        <h2> {{ ssRub.nom }} </h2>
                </div>
            </a>
        </div>
    {% endfor %}
            </div>
    </div>
{% endblock %}


{# {{ssRub.photo}} #}