{% extends 'base.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block panier %}

    <h1>Votre panier</h1>

    {# Si le nombre de produit dans le panier > 0 alors on affiche le tableau #}
    {% if items | length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {# Pour chaque produit dans le panier on affiche son nom, son prix, sa quantité, et son total #}
                {% for item in items %}
                    <tr>
                        <td>{{ item.produit.libelleLong }}</td>
                        <td>{{ item.produit.prixHorsTaxe }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.produit.prixHorsTaxe * item.quantity }}</td>
                        <td>
                        {# Bouton pour supprimer un produit du panier #}
                            <a href="{{ path('cart_remove', {'id': item.produit.id }) }}" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-end">Total :</td>
                    <td>{{ total }}</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

{# Si le nombre de produit dans le panier < 0 alors on affiche que le panier est vide #}
    {% else %}
        <p>Votre panier est vide !</p>
    {% endif %}

{% endblock %}
